---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { getLocalizedPosts } from "@/utils/localizedPosts";
import { localizePath, t } from "@/i18n";

const posts = await getCollection("blog");
const tags = getUniqueTags(getLocalizedPosts(posts, "cn"));
const copy = t("cn");
---

<Layout
  title={`${copy.pages.tagsTitle} | ${SITE.title}`}
  langLinks={{
    en: localizePath("/tags/", "en"),
    cn: localizePath("/tags/", "cn"),
  }}
>
  <Header />
  <Main pageTitle={copy.pages.tagsTitle} pageDesc={copy.pages.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
